@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
    0% {
      background-color: #1d4ed8;
    }
    50% {
      background-color: #3b82f6;
    }
    100% {
      background-color: #1d4ed8;
    }
  }
  
  .flash {
    animation: flash 0.5s ease-in-out;
  }
  
  
  
  
  